<!-- <p-sidebar [(visible)]="visibleSidebar1" [style]="{width:'15em',height:'40em'}" [baseZIndex]="1000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
   
</p-sidebar>
<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button> -->
<div class="container">
    <p-card header={{post.title}} subheader={{post.time}}
    
    
    class="card" styleClass="p-card-shadow" *ngFor="let post of homePost">
    <ng-template pTemplate="header">
        <!-- <img alt="Card" src="assets/usercard.png"> -->
    </ng-template>
    {{trim}}
    <!-- <p *ngFor="let para of post.article; let i = index;">{{para}}</p> -->
    
</p-card>
</div>


    
  


